@model MvcEmployeCrud.Models.EmployeeModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<div class="row">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ID)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(x => x.FatherName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(x => x.Mobile, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <input type="submit" value="Update" class="btn btn-success" />
                </div>
            </div>
            <div class="row">
                EmployeeDepartment :   @ViewBag.EmployeeDepartment

                @ViewData["EmployeeList"]
                <table>
                    @foreach (var emp in (List<MvcEmployeCrud.Models.EmployeeModel>)TempData["EmployeeList"])
                    {
                        <tr>
                            <td>@emp.ID</td>
                            <td>@emp.Name </td>
                            <td>
                                
                                @*@Html.ActionLink("Edit", "Update", new { id = emp.ID })*@ 
                                <a href="/Employee/Update?id=@emp.ID">Edit</a>

                            </td>
                            <td>@Html.ActionLink("Delete", "Delete", new { id = emp.ID }, new { onclick = "return confirm('Are you sure you wish to delete this Department?');" }) </td>
                        </tr>
                    }
                </table>
            </div>
        </div>


    }
</div>

